body {
  margin: 0;
  background-color: #ffffff;
  color: #757575;
  font-size: 14px;
  font-weight: 400;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.header {
  border-bottom: 1px solid #ececec;
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
}

.navigation__list {
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
  margin-right: 50px;
}

.navigation:last-child {
  margin-right: 0;
}

.navigation__link {
  display: block;
  height: 100%;
  color: currentColor;
  text-decoration: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation__link:hover, .navigation__link:focus {
  color: #2196f3;
}

.navigation--active {
  color: #2196f3;
}

.navigation--active::after {
  position: absolute;
  content: "";
  bottom: -3px;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196f3;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin-left: auto;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-header {
  margin-right: 30px;
  fill: #757575;
}

.contact-header:last-child {
  margin-right: 0;
}

.contact-header:hover, .contact-header:focus {
  color: #2196f3;
  fill: #757575;
}

.contact__link {
  margin-right: 10px;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  fill: currentColor;
}

.poster-hero {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  margin: 0 auto;
  max-width: 1600px;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../../images/hero.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/hero.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero__title {
  margin-bottom: 30px;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 44px;
  font-weight: 900;
  letter-spacing: 0.06em;
  line-height: 1.36;
}

.hero__button {
  cursor: pointer;
  background-color: #2196f3;
  color: #ffffff;
  height: 50px;
  width: 200px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  letter-spacing: 0.06em;
  line-height: 1.9;
  font-weight: 700;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.hero__button:hover, .hero__button:focus {
  background-color: #188ce8;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.our-work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: calc((100% - 90px) / 4);
      flex-basis: calc((100% - 90px) / 4);
}

.our-work__list {
  margin-right: 30px;
}

.our-work__list:last-child {
  margin-right: 0;
}

.our-work__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 120px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 4px;
}

.topic-box {
  padding-top: 0;
}

.topic-title {
  margin-bottom: 50px;
  color: #212121;
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  line-height: 1.17;
}

.topic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.topic__list {
  position: relative;
  margin-right: 30px;
  -ms-flex-preferred-size: calc((100% - 60px) / 3);
      flex-basis: calc((100% - 60px) / 3);
}

.topic__list:last-child {
  margin-right: 0;
}

.topic__card {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  bottom: 0;
  left: 0;
  height: 70px;
  width: 100%;
  text-transform: uppercase;
  line-height: 1.14;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
}

.logo {
  display: block;
  font-family: Raleway, Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  color: #2196f3;
}

.logo--bleck {
  color: #000000;
}

.logo--white {
  color: #ffffff;
}

.header-logo {
  margin-right: 93px;
}

.footer-logo {
  margin-bottom: 20px;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

.footer-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.footer__adres {
  margin-right: 70px;
}

.adress {
  font-style: normal;
}

.adress__list {
  margin-bottom: 9px;
}

.adress__list:last-child {
  margin-bottom: 0;
}

.adress__link {
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.15;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.adress__link--transparent {
  color: rgba(255, 255, 255, 0.6);
}

.footer-social {
  margin-right: 93px;
}

.social__title {
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 20px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
}

.connection {
  position: relative;
  margin-left: auto;
}

.connection__input {
  width: 358px;
  margin-right: 12px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.connection__btn {
  padding: 10px 29px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: #2196f3;
  border-color: transparent;
  border-radius: 4px;
  cursor: pointer;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.connection__icon {
  margin-left: 10px;
  fill: #ffffff;
}

.socialNetworks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.socialNetworks__list {
  width: 44px;
  height: 44px;
}

.socialNetworks__list:not(:first-child) {
  margin-left: 10px;
}

.socialNetworks__link {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffffff;
  border-radius: 50%;
  fill: #afb1b8;
  -webkit-transition: background-color var(--time-anime) var(--time-cube), fill var(--time-anime) var(--time-cube);
  transition: background-color var(--time-anime) var(--time-cube), fill var(--time-anime) var(--time-cube);
}

.socialNetworks__link:hover, .socialNetworks__link:focus {
  background-color: #2196f3;
  fill: #ffffff;
}

.socialNetworks--footer {
  background-color: rgba(255, 255, 255, 0.1);
  fill: #ffffff;
}
/*# sourceMappingURL=main.css.map */