.filtr {
  display: flex;
  justify-content: center;

  &__button {
    padding: 6px 22px;
    border: transparent;
    border-radius: 4px;
    border-color: getColor("buttonBasic");

    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    color: getColor("secondaryText");
    background-color: getColor("buttonBasic");

    cursor: pointer;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: getColor("bgBasic");
      background-color: getColor("active");
      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    }

    &:active {
      color: getColor("bgBasic");
      background-color: getColor("active");
      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    }
  }
}
.filtr--indent {
  margin-bottom: 50px;
}

.filtr__list--indent {
  margin-right: 8px;

  &:last-child {
    margin-right: 0;
  }
}
