@import "../utils/variables";

.logo {
  display: block;
  font-family: Raleway, Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;

  color: getColor("active");

  &--bleck {
    color: getColor("logoHeader");
  }
  &--white {
    color: getColor("bgBasic");
  }
}
.header-logo {
  margin-right: 93px;
}
.footer-logo {
  margin-bottom: 20px;
}
